@tailwind base;
@tailwind components;
@tailwind utilities;

.container{
    @apply max-w-[140rem] mx-auto p-[1.5rem];
}

body{
    @apply h-[1200px]
}

.btn--solid{
    @apply inline-block text-light text-[1.2rem] bg-primary px-[1.5rem] py-[.5rem] rounded-md font-semibold transition-all border-[1px] border-transparent hover:bg-dark hover:transition-all
}
.btn--outline{
    @apply inline-block text-primary text-[1.2rem] bg-transparent px-[1.5rem] py-[.5rem] rounded-md font-semibold transition-all border-[1px] border-primary hover:bg-primary hover:transition-all hover:text-light
}

@layer components{
    /*HEADER*/
    .header{
        @apply lg:mt-[5rem] lg:fixed lg:w-full lg:bg-transparent;
    }
    .header .header__wrapper{
        @apply lg:flex lg:items-center lg:justify-between lg:bg-asul lg:max-w-[75rem] lg:mx-auto lg:rounded-md
    }
    .header .branding{
        @apply bg-light p-[1.5rem] lg:bg-transparent;
    }
    .header .branding img{
        @apply mx-auto
    }
    .header__nav__title{
        @apply bg-primary p-[1rem] flex justify-between items-center lg:bg-transparent lg:hidden
    }
    .header__nav__title h2{
        @apply text-light font-bold text-[1.3rem]
    }
    .header__nav__title .toggle__menu span{
        @apply w-[1.5rem] h-[.2rem] bg-light block transition-all
    }
    .header__nav__title .toggle__menu.open span:first-child{
        @apply transform translate-y-[6px] rotate-[225deg] transition-all
    }
    .header__nav__title .toggle__menu.open span:nth-child(2){
        @apply opacity-0 transition-all
    }
    .header__nav__title .toggle__menu.open span:last-child{
        @apply transform translate-y-[-6px] rotate-[-225deg] transition-all
    }
    .header__nav__title .toggle__menu span:nth-child(2){
        @apply my-[.2rem]
    }
    .header__nav nav{
        @apply max-h-0 overflow-hidden transition-all lg:max-h-[200rem] lg:flex lg:items-center lg:p-[1.5rem];
    }
    .header__nav nav.open{
        @apply max-h-[200rem] transition-all
    }
    .header__nav nav li{
        @apply list-none
    }
    .header__nav .drop__nav h4{
        @apply flex items-center justify-between border-b-[1px] border-gray-400 px-[1.5rem] py-[.8rem] lg:border-none
        lg:gap-[.5rem]
    }
    .header__nav .drop__nav h4 p{
        @apply font-bold text-[1rem] lg:text-light lg:font-normal
    }
    .header__nav .drop__nav .drop__toggle span{
        @apply w-[.8rem] h-[.2rem] bg-dark block transition-all lg:bg-light lg:h-[.1rem] lg:w-[.5rem];
    }
    .header__nav .drop__nav .drop__toggle span:first-child{
        @apply lg:transform lg:rotate-[-45deg] lg:translate-x-[5px] lg:translate-y-[.15rem];
    }
    .header__nav .drop__nav .drop__toggle span:last-child{
        @apply transform rotate-[270deg] translate-y-[-.15rem] lg:rotate-[45deg] lg:translate-y-0;
    }

    .header__nav .drop__nav .drop__toggle.open span:last-child{
        @apply transform rotate-[0deg] transition-all
    }
    .header__nav .drop__content{
        @apply max-h-0 overflow-hidden transition-all lg:max-h-[20rem] lg:absolute lg:bottom-[-25rem] lg:bg-primary lg:min-w-[10rem] lg:opacity-0 lg:py-[1rem];
    }
    .header__nav .drop__content.open{
        @apply max-h-[200rem] transition-all;
    }
    .header__nav .drop__content ul li:not(first-child){
        @apply border-b-[1px] border-gray-400 lg:border-none;
    }
    .header__nav .drop__content ul li{
        @apply py-[1rem] lg:p-[1rem]
    }
    .header__nav .drop__content ul li a{
        @apply px-[3rem] text-[.8rem] lg:px-0 lg:text-light lg:text-[1.2rem]
    }
    .header__nav .drop__content ul li:hover{
        @apply lg:bg-light
    }
    .header__nav .drop__content ul li:hover a{
        @apply lg:text-primary
    }
    .header__nav nav a.free{
        @apply hidden lg:block 
    }

      /*BANNER*/
      .banner{
        @apply bg-banner-img h-[670px] bg-cover bg-center flex items-center text-center lg:h-[1200px]
      }
      .banner .banner__item{
        @apply  lg:max-w-[100rem] lg:grid lg:grid-cols-2 lg:mx-auto lg:items-center
      }
      .banner .banner__item__text{
        @apply relative lg:px-[3rem] lg:text-left 
      }
      .banner .banner__item__text h1{
        position:absolute;
        top:-1rem;
        color:transparent;
        font-size:4rem;
        font-weight:600;
        -webkit-text-stroke: 3px #FFFFFF12 ;
        text-stroke: 3px #FFFFFF12 ;
        z-index:1;
        @apply lg:text-[8rem] lg:top-[-2rem]
      }
      .banner .banner__item__text h2{
        @apply relative text-light font-bold text-[1.8rem] lg:text-[3.5rem] z-[2]
      }
      .banner .banner__item__text h3{
        @apply text-light text-[1.5rem] my-[1.5rem] lg:text-[1.3rem]
      }
      .banner .banner__item img{
        @apply hidden lg:block lg:mx-auto lg:w-[90%] lg:h-full lg:object-cover lg:object-center
      }
      .banner .banner__item__text__btn ul{
        @apply flex justify-center items-center gap-[.5rem] lg:justify-normal
      }

      
}